*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'metropolis' ;
    src: url('../fonts/Metropolis-Bold.otf');
    src: url('../fonts/Metropolis-Regular.otf');
}

body{
    font-family: 'metropolis' ;
    overflow-x: hidden;
}

/*Estilos gloales*/

/*-------------BARRA DE NAVEGACION-------------*/
header {
	background-color: #ffffff;
	position: fixed;
	top: 0;
    width: 100%;
    /*Sombra bottom*/
    -webkit-box-shadow: 0px 10px 59px -22px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 10px 59px -22px rgba(0,0,0,0.56);
    box-shadow: 0px 10px 59px -22px rgba(0,0,0,0.56);
}

.ante-menu{
    display: inline-block;
    margin: 0px 5px;
}

.logo{
    width: 15%;
    margin: auto;
    display: block;
    padding-top: 40px;
}

nav ul{
    list-style-type: none;
    padding: 30px 0px 0px 0px;
    text-align: center;
}

.input-buscador{
    color: #191919;
    background-color: #fff;
    border: rgb(229, 219, 219) 1px solid;
    padding: 10px 10px;
    padding-right: 70px;
    border-radius: 2px;
    text-align: left;
}

.input-buscador:hover{
    border: #c19403 2px solid;
}

.buscador{
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    padding: 10px 20px;
}

#iconos{
    width: 25px;
    padding: 0px 5px;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    color: #66ABDF;
    font-weight: 900;
}

nav {
	position: relative;
	bottom: 50px;
}

.menu li{
    display: inline-block;
	width: 15%;
	position: relative;
	font-size: 1rem;
    text-align: center;
}

/*-------------CONTENIDO PRINCIPAL-------------*/
.parallax{
    /* Efecto parallax al scrollear */
    background-image: url('../images/sliders/slider-01.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 1000px;
	padding: 50px 30px;
	margin-bottom: 50px;
}

.titulo-parallax{
    text-align: left;
    color: #000;
    font-size: 40px;
    padding: 450px 100px;
    line-height: 1.5em;
    font-weight: 900;
    overflow: hidden;
}

/*-------------CATEGORIAS-------------*/
.titulo-categorias{
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 50px 0px;
}

section div{
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: center;
}

.categria1{
    background-image: url('../images/productos/categoria-bazar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.categria2{
    background-image: url('../images/productos/categoria-casa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    margin: 0px 80px;
}

.categria3{
    background-image: url('../images/productos/categoria-accesorios.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
}

section div h3{
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 200px 0px 20px 0px;
    overflow: hidden;
}

section div a{
    color: #ffffff;
    font-size: 20px;
    padding-top: 100px;
    text-align: center;
    font-weight: 700;
}

/*------------- PRODUCTOS -------------*/
.productos-destacados{
    color: black;
    font-size: 30px;
    padding: 100px 0px 20px 0px;
    text-align: center;
}

.caja-producto{
    display: inline-block;
    width: 400px;
    height: auto;
    margin: 0px 10px 80px 10px;
}

article img{
    margin: auto;
    display: block;
    min-width: 50%;
}

.titulo-producto{
    text-align: center;
    color: #000;
    font-size: 20px;
    overflow: hidden;
    padding: 20px 0px;
    line-height: 1.4em;
}

.precio{
    text-align: center;
    color: #66ABDF;
    font-weight: bold;
    font-size: 20px;
}

.btn-productos{
    background-color: #66ABDF;
    border: #66ABDF;
    border-radius: 2px;
    color: #ffffff;
    margin: auto;
    display: block;
    padding: 10px 100px;
}

.btn-a{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
}

#productos{
    padding-bottom: 80px;
}
/*-------------BANNER-------------*/
.banner{
    background-image: url('../images/fondo-suscripcion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    width: 100%;
    height: 500px;
}

.titulo-banner{
    color: #000;
    font-size: 50px;
    line-height: 1.7em;
    padding: 140px 90px 20px 650px;
    text-align: left;
}

.descripcion-banner{
    color: #000;
    font-size: 20px;
    line-height: 1.4em;
    padding: 0px 120px 40px 650px;
    text-align: left;
}

.form-banner{
    text-align: left;
    padding-left: 647px;
}

.input-banner{
    background-color: #fff;
    border: rgb(229, 219, 219) 1px solid;
    border-radius: 2px;
    padding: 18px 10px;
    padding-right: 250px;
    text-align: left;
}

.input-banner:hover{
    border: #c19403 2px solid;
}

.btn-banner{
    background-color: #000;
    color: #fff;
    padding: 13px 40px;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
}

a button{
    text-decoration: none;
    cursor: pointer;
}
/*-------------PIE DE PAGINA-------------*/
footer div div{
    display: inline-block;
    padding: 80px 0px 30px 0px;
}

#footer{
    text-align: center;
}

footer div div h3{
    text-align: center;
    color: #66ABDF;
    padding: 0px 0px 20px 0px;
}

footer div div ul li{
    list-style-type: none;
    color: #000;
	font-size: 1.2rem;
	line-height: 1.4em;
    margin: 10px 80px;
}

footer div div ul li a{
    text-decoration: none;
    color: #000;
}

footer div div ul li{
    text-align: left;
}

.icons-contacto{
    width: 35px;
}

.sociales li{
    display: inline-block;
    margin: 10px;
}

.icons-sociales{
    width: 40px;
}

.copyright{
    text-align: center;
    padding: 20px 0px;
    font-size: 14px;
}
/*-------------COMERCIO-------------------*/
section div{
    display: inline-block;
}

.lista-categoria{
    color: #000;
}
/*-------------COMO COMPRAR-------------------*/
span{
    color: #66ABDF;
    font-weight: 900;
}

.pasos{
    color: #000;
    text-align: justify;
    line-height: 2rem;
    font-size: 18px;
    padding: 20px 180px;
}

/*-------------NUESTRA HISTORIA-------------------*/
.portada{
    background-image: url('../images/portada.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 400px;
	padding: 50px 30px;
	margin-bottom: 50px;
}

.titulo-portada{
    color: #fff;
    text-align: center;
    font-size: 45px;
    line-height: 1.4em;
    font-weight: 900;
    padding-top: 300px;
}

#nosotros{
    margin: 60px 0px;
}
.titulo-historia{
    color: #000;
    text-align: center;
    font-size: 20px;
    padding: 50px 0px 20px 0px;
}

.historia{
    color: #000;
    text-align: justify;
    line-height: 2rem;
    font-size: 18px;
    padding: 20px 180px;
}

/*-------------CONTACTO-------------------*/
form{
    display: block;
}

section article{
    display: inline-block;
}