/*-------------BARRA DE NAVEGACION-------------*/
header {
	background-color: $background-color_1;
	text-align: center;
	position: fixed;
	padding: 25px;
	width: 100%;
	-webkit-box-shadow: 0px 10px 59px -22px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 10px 59px -22px rgba(0,0,0,0.56);
	box-shadow: 0px 10px 59px -22px rgba(0,0,0,0.56);
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px 20px 0px;

	@media screen and (max-width:$mediaTablet-1024) {
		flex-direction: column;
		}
}
.box-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.box {
	width: 300px;
}
.logo {
	width: 55%;
	@media screen and (max-width:$mediaTablet-1024) {
		padding: 30px 0;
		}
}
.icons-menu {
	width: 7%;
	margin: 0px 7px;
}
.icons-flex {
	display: flex;
	justify-content: flex-start;

	@media screen and (max-width:$mediaTablet-1024) {
		justify-content: center;
		}
	@media screen and (max-width: $mediaMobile-768) {
		justify-content: center;
	}
}
.usuario {
	padding-right: 20px;
}
.a-icons {
	text-decoration: none;
	color: $color_1;
}
nav {
	a {
		display: inline-block;
		text-decoration: none;
		color: $color_2;
		margin: 0 30px;
		padding: 5px 15px;
		border-radius: 30px;
		&:hover {
			color: $color_3;
			text-decoration: underline;
			font-weight: 900;
		}
	}

	@media screen and (max-width: $mediaMobile-768) {
		display: none;
	}
}
.menuHamburguesa {
	display: none;

	@media screen and (max-width: $mediaMobile-768) {
		display: block;
		color: $color_3;
		width: 15%;
	}
}
.input-buscador {
	color: $color_4;
	background-color: $background-color_2;
	border: rgb(229, 219, 219) 1px solid;
	padding: 10px 10px;
	padding-right: 50px;
	border-radius: 2px;
	&:hover {
		border: #c19403 2px solid;

	@media screen and (max-width: $mediaMobile-768) {
		display: none;
		}
	}
}
.fondo-navbar {
	background-color: $background-color_1;
}
.box1 {
	display: flex;
	justify-content: space-between;
}
