/*-------------PIE DE PAGINA-------------*/
footer div div{
    display: inline-block;
    padding: 80px 0px 30px 0px;
}

footer div div h3{
    text-align: center;
    color: #66ABDF;
    padding: 0px 0px 20px 0px;
}

footer div div ul li{
    list-style-type: none;
    color: #000;
	font-size: 1.2rem;
	line-height: 1.4em;
    margin: 10px 80px;
}

footer div div ul li a{
    text-decoration: none;
    color: #000;
}

footer div div ul li{
    text-align: left;
}

section div{
    display: inline-block;
}

span{
    color: #66ABDF;
    font-weight: 900;
}
