$color_1: #191919;
$color_2: #fff;
$color_3: #000;
$color_4: black;
$color_5: #66ABDF;
$color_6: #ffffff;
$background-color_1: #fff;
$background-color_2: #000;
$background-color_3: #66ABDF;


/*breakpoint*/